@use '../../styles/variables' as *;

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__container {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    background: $bg-secondary;
    padding: $spacing-xl;
  }
}