@use '../../styles/variables' as *;

.chart-card {
  background: $white;
  border-radius: $radius-xl;
  padding: $spacing-xl;
  box-shadow: $shadow-sm;
  border: 1px solid $border-light;

  &__header {
    margin-bottom: $spacing-lg;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $text-primary;
    margin-bottom: $spacing-xs;
  }

  &__subtitle {
    font-size: $font-size-sm;
    color: $text-tertiary;
  }

  &__body {
    width: 100%;
  }
}